version: "2"
sql:
  - engine: "{{ .Engine }}"
    schema: "../../db/schema.sql"
    queries: "../../db/queries.sql"
    gen:
      go:
        package: "database"
        out: "../../codegen/database"