package pages

import (
	"github.com/kefniark/mango/example/views/layout"
  "github.com/kefniark/mango/example/config"
)

func init() {
  config.RegisterPage("/docs", templ.Handler(docs()))
  config.RegisterPage("/examples", templ.Handler(docs()))
}

templ docs() {
  @layout.AppLayout("Mango Documentation") {
    <div class="page active">
      <div class="p-4 rounded-xl text-center bg-blue-600">Hello !</div>
      <h3>This is the Docs page</h3>
    </div>
  }
}

