package pages

import (
	"github.com/kefniark/mango/example/views/layout"
  "github.com/kefniark/mango/example/config"
)

func init() {
  config.RegisterPage("/getting-started", templ.Handler(gettingStarted()))
}

templ gettingStarted() {
  @layout.AppLayout("Mango Getting Started") {
    <div class="page active">
      <div class="p-4 rounded-xl text-center bg-blue-600">Hello !</div>
      <h3>This is the GettingStarted page</h3>
    </div>
  }
}

