package pages

import (
  "github.com/kefniark/mango/example/views/helpers"
  "github.com/kefniark/mango/example/views/components"
	"github.com/kefniark/mango/example/views/layout"
)

templ Home(name string) {
  @layout.AppLayout(name) {
    @components.HeaderTemplate(name)
      <div class="p-4 rounded-xl text-center bg-blue-600">Hello, { name } !</div>

      <img src={ helpers.AssetURL("logo.png") } class="m-auto max-w-[100%]" />
  }
}

