body {
  --primary: #dbc90a;
  --on-primary: #363100;
  --primary-container: #4f4800;
  --on-primary-container: #f9e534;
  --secondary: #cec7a3;
  --on-secondary: #343117;
  --secondary-container: #4b472b;
  --on-secondary-container: #ebe3bd;
  --tertiary: #a7d0b7;
  --on-tertiary: #103726;
  --tertiary-container: #294e3b;
  --on-tertiary-container: #c2ecd3;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffb4ab;
  --background: #1d1c16;
  --on-background: #e7e2d9;
  --surface: #14130e;
  --on-surface: #e7e2d9;
  --surface-variant: #4a473a;
  --on-surface-variant: #cbc6b5;
  --outline: #959181;
  --outline-variant: #4a473a;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #e7e2d9;
  --inverse-on-surface: #32302a;
  --inverse-primary: #695f00;
  --surface-dim: #14130e;
  --surface-bright: #3b3933;
  --surface-container-lowest: #0f0e09;
  --surface-container-low: #1d1c16;
  --surface-container: #21201a;
  --surface-container-high: #2b2a24;
  --surface-container-highest: #36352f;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
