package layout

templ bottomMenu() {
    <div class="btm-nav">
    <a href="/">
        <span class="btm-nav-label">Home</span>
    </a>
    <a href="/about">
        <span class="btm-nav-label">About</span>
    </a>
    </div>
}